venv/
.idea/
grid_backend.iml
PineConeLocal/Include/
PineConeLocal/Lib/
PineConeLocal/Scripts/
PineConeLocal/share/
PineConeLocal/pyvenv.cfg
__pycache__
.~lock.main_dataset.csv#
.~lock.top_100.csv#
.vscode
PineconeLocal/utils/credentials.py
.env