openai
openpyxl
requests
pandas
beautifulsoup4
numpy
uvicorn
fastapi
rich
python-dotenv
fastapi-cors
chardet
pytrends
Pillow
datasets
transformers
sentence-transformers
pinecone-client
pinecone-text
protobuf==3.20.3