:root {
  --PRIMARY: "#EEEEEE";
  --SECONDARY: "#393E46";
  --TERTIORY: "#00ADB5";
  --QUATERNERY: "#222831";
}
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Bricolage+Grotesque:opsz@10..48&family=Raleway&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");
.App {
  text-align: center;
  background: var(--PRIMARY);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: "Asap", sans-serif;
  background: #ebfbfa;
}
.Container {
  position: relative;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  width: 80%;
  /* background: #f6f4eb; */
  /* border: 3px solid #00adb5; */
  margin-bottom: 8em;
}
.polka {
  background-image: radial-gradient(rgb(140, 135, 135) 10%, transparent 10%),
    radial-gradient(rgb(140, 135, 135) 10%, transparent 10%);
  background-position: 0px 0px, 104px 104px;
  background-size: 208px 208px;
  background-color: rgb(235, 251, 250);
}
.Card {
  border-radius: 1.5em;
  width: 16%;
  margin: 0.5em;
  height: auto;
  background: rgba(255, 255, 255, 0.7);
  /* box-shadow: 0px 6.675869941711426px 25.868999481201172px -1.668969988822937px rgba(73, 141, 255, 0.3);
  box-shadow: 10px 8px 0px rgb(191 219 254); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #00d5c4;
}
.Card2 {
  border-radius: 12px;
  width: 30%;
  margin: 0.5em;
  height: auto;
  padding: 1em;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 5 00;
  background: #00d5c4;
  border-radius: 1.3em;
  color: white;
  border-top-left-radius: 0px;
}
.ImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  border-radius: 10px;
}
.PrevSearchText {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.HorizotalLine {
  /* height: 2px; */
  /* border: 1px solid black; */
  z-index: 10;
  background: black;
  width: 78%;
  margin-bottom: 3em;
}
.NewButton {
  /* display: inline-flex; */
  /* border-radius: 1em; */
  /* border-radius: 24px; */
  /* background-image: linear-gradient(to left top, #00adb573, #1b4aef); */
  /* padding: 10px 13.5px 10px 10px; */
  /* justify-content: center; */
  /* align-items: flex-start; */
  /* gap: 3.5px; */
  /* color: white; */
  border: 0px;
  padding: 0px;
  margin: 6px;

  background: transparent;
}
.QueryHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 4em;
  width: 60%;
  border-radius: 36px;
  background: #fff;
  box-shadow: 0px 1.600000023841858px 3.5999999046325684px 0px
      rgba(0, 0, 0, 0.26),
    0px 0.30000001192092896px 0.8999999761581421px 0px rgba(0, 0, 0, 0.72);
}
.BroomImage {
  /* height: 20px;
  
  width: 23px; */

  background: transparent;
}
.ChatImage {
  height: 18px;
  width: 18px;
  margin: 8px;
}
.PromptText {
  border: 0px;
  border-radius: 0px;
  outline: 0px;
  font-family: "Arial", sans-serif;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 10px;
  resize: none; /*remove the resize handle on the bottom right*/
  /* display: flex; */
  background: none;
}
.ChatContainer {
  display: flex;
  align-items: center;
}

.WelcomeText {
  -webkit-background-clip: text;
  background-clip: text;
  /* color: transparent; */
  /* position: absolute; */
  /* background-image: repeating-radial-gradient(
    closest-side at 20px 20px,
    rgb(196 181 253),
    rgb(191 219 254),
    rgb(196 181 253)
  ); */
  font-size: 30px;
  padding: 1em;
  font-weight: 700;

  text-shadow: 1px;
  /* border-radius: 15px; */
  /* border: 4px solid #00adb5; */
  font-family: "Bricolage Grotesque", sans-serif;
  color: #000;
  text-align: center;
  /* font-family: "Poppins"; */
  /* font-size: 23px; */
  /* font-style: normal; */
  /* font-weight: 700; */
  line-height: normal;
  text-transform: capitalize;
  /* background: #f6f4eb; */

  /* text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08); */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
