:root {
  --PRIMARY: "#EEEEEE";
  --SECONDARY: "#393E46";
  --TERTIORY: "#00ADB5";
  --QUATERNERY: "#222831";
}
.btn {
  /* background-image: linear-gradient(
    to right,
    #a1c4fd 0%,
    #c2e9fb 51%,
    #a1c4fd 100%
  ); */
  background: white;
  margin: 1em;
  padding: 1em;
  color: #000;
  border-radius: 1.3em;
  border-top-right-radius: 0px;
  font-weight: 500;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 20px;
  width: 55%;
  text-align: left;
}
